body {
    background-color: #131322;
    margin: 0;
    font-family: 'Lora', serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 60vw; 
    height: 100vh; 
    margin: 40px; 
    align-items: center;
}


.box {
    background-color: #000000;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.mocha-title {
    font-family: 'Forum', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    color: #FFD700;
}

.mocha-desc {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

.mocha-desc2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.mocha-image {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px; 
}

.top-left-button {
    position: fixed;
    top: 10px;
    left: 10px;
  }
